<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iwdael.permissionsdispatcher">

    <application>
<!--        <provider-->
<!--            android:authorities="com.iwdale.permission.contentprovider"-->
<!--            android:name=".PermissionContentProvider"/>-->
    </application>
</manifest>